In [1]:
from utils import make_raw_data

In [2]:
data = make_raw_data()

In [3]:
data.shape

(9800000, 21)

In [4]:
data.label.mean()

0.030767142857142857

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9800000 entries, 200000 to 9999999
Data columns (total 21 columns):
 #   Column                              Dtype
---  ------                              -----
 0   customer_id                         int64
 1   product_id                          int64
 2   week                                int64
 3   price                               float64
 4   label                               int64
 5   avg_n_transactions_weekly_customer  float64
 6   avg_spending_weekly                 float64
 7   highest_price_paid                  float64
 8   lowest_price_paid                   float64
 9   sum_spending_last_week              float64
 10  n_transactions_last_week_customer   int64
 11  current_price                       float64
 12  avg_n_transactions_weekly_product   float64
 13  avg_returns_weekly                  float64
 14  sum_returns_last_week_x             float64
 15  n_transactions_last_week_product    int64
 16  sum_returns_last_week_y             float64
 17  moving_avg_returns_lm               float64
 18  sum_transactions_last_week          int64
 19  moving_avg_transactions_lm          int64
 20  within_budget                       int64
dtypes: float64(12), int64(9)
memory usage: 1.6 GB

In [6]:
data.head()

,customer_id,product_id,week,price,label,avg_n_transactions_weekly_customer,avg_spending_weekly,highest_price_paid,lowest_price_paid,sum_spending_last_week,...,current_price,avg_n_transactions_weekly_product,avg_returns_weekly,sum_returns_last_week_x,n_transactions_last_week_product,sum_returns_last_week_y,moving_avg_returns_lm,sum_transactions_last_week,moving_avg_transactions_lm,within_budget
200000,0,0,2,NaN,0,2.489796,15.98551,7.86,4.52,25.39,...,5.76,40.285714,232.045714,207.36,36,38781.01,38612.5175,6320,6283,1
200001,0,1,2,NaN,0,2.489796,15.98551,7.86,4.52,25.39,...,6.33,44.795918,283.558163,303.84,48,38781.01,38612.5175,6320,6283,1
200002,0,2,2,NaN,0,2.489796,15.98551,7.86,4.52,25.39,...,7.81,32.306122,252.310816,234.30,30,38781.01,38612.5175,6320,6283,1
200003,0,3,2,NaN,0,2.489796,15.98551,7.86,4.52,25.39,...,7.11,33.102041,235.355510,241.74,34,38781.01,38612.5175,6320,6283,1
200004,0,4,2,NaN,0,2.489796,15.98551,7.86,4.52,25.39,...,5.83,54.367347,316.961633,291.50,50,38781.01,38612.5175,6320,6283,1

In [7]:
ids = ["customer_id", "product_id"]
training = data.columns[4:]
features = data.columns[5:]

In [8]:
corr_matrix = data[training].corr().abs().round(3)
display(corr_matrix.style.background_gradient(cmap='coolwarm'))